* {
    margin: 0;
}

.header {
    background-image: url(images/banner/banner1.png);
    width: auto;
    height: 808px;
    left: 1600px;
    top: 808px;

}

.banner-title {
    color: #151414;
    font-size: 45px;
}

.banner-description {
    color: #444343;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.banner-btn {
    background: #F15B22;
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    color: white;
}

.banner-text-area {
    text-align: right;
    padding-top: 215px;
    padding-right: 115px;
}

/* second section css */
.person-section{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 200px;
    margin-top: 130px;
}
.person-title{
    color: #151414;
    font-size: 40px;
}
.person-description{
    color: #444343;
}

/* My plan css */
.my-plan-heading{
    color: #151414;
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
}
.plans{
    display: flex;
    justify-content: space-evenly;
}
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan img{
    margin-top: 50px;
    margin-bottom: 15px;
}
.plan h2{
    color: #151414;
    font-size: 30px;
}